*{
  margin: 0;
  padding: 0;

}
body{
  height: 100vh;
background: linear-gradient(90deg, rgba(117, 60, 60, 0.479) 0%, rgba(15, 15, 15, 0.479) 100%);
  color: rgb(48, 42, 42);
  font-family: "Poppins", sans-serif;
}